<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GGCarouselFigureView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12633A8A1E7FC55B00B7171E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12633AA31E7FC55C00B7171E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12633AAE1E7FC55C00B7171E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
